extends base

block extrahead
  link(rel='stylesheet', href='/css/style.css')

block content
  .page-header
    h1= search
  .row
    .span6
      h2 Tweets
      #new-tweets-bar
      #tweets
        each tweet in tweets
          include index_tweet
    .span6
      #user-tweets

  latestTweetId = tweets.length ? tweets[0].id : 0
  script(src='/js/moment.min.js')
  script
    var context = {
      pollInterval: #{pollInterval}
    , latestTweetId: '#{latestTweetId}'
    }
  script(src='/js/index.js')