
span.screenname {
  font-size: 16px;
  padding: 0 5px;
}
#new-tweets-bar, #more-tweets {
  position: relative;
  background-color: #f5f5f5;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05) inset;
  cursor: pointer;
  padding: 10px 1px;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #eee;
}
#loading-bar {
  position: relative;
  background-color: #f5f5f5;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05) inset;
  padding: 10px 1px;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #eee;
}
#new-tweets-bar, #loading-bar {
  display: none;
}
#tweets {
  position: relative;
}
.tweet {
  position: relative;
  padding: 10px 1px;
  border-bottom: 1px solid #eee;
}
.tweet-header, .tweet-text, .tweet-footer {
  margin-left: 60px;
}
.tweet .time {
  float: right;
  margin-top: 1px;
  color: #bbb;
}
.time a {
  color: #999;
  font-size: 12px;
}
.tweet .avatar {
  position: absolute;
  top: 12px;
  left: 6px;
  border-radius: 5px;
  height: 48px;
  width: 48px;
}
.tweet .tweet-username {
  font-weight: bold;
  color: #000;
}
.tweet-header a:hover, .tweet-header a:hover .tweet-username {
  color: #0088CC;
}
.tweet-text {
  margin-bottom: 0;
}
.tweet-footer {
  color: #999;
  font-style: italic;
}
.tweet-footer span[data-userid] {
  cursor: pointer;
}
#user-tweets {
  position: relative;
}